<div class="container">
<h1>Stupid coaching</h1>
    <div class="question">
    <%= @question %>
    <p><em>-You</em></p>
    </div>
    <div class="answer">
    <%= @answer %>
    <p><em>-Your Coach</em></p>
    </div>
    <%= link_to "Ask a new question", ask_path %>
</div>